pkgbase = joy-browser
	pkgdesc = Web Browser
	pkgver = 0.0.12
	pkgrel = 1
	url = https://github.com/drpt78/joy-browser
	arch = any
	license = MIT
	depends = xdg-utils
	source = https://github.com/drpt78/joy-browser/archive/0.0.12.tar.gz
	sha256sums = d6151052a1ee64b72be056fb74b677fd75d3002509acb6812ec888dbbde40edc

pkgname = joy-browser
